# .gitignore

# Node.js dependencies
node_modules/

# MongoDB Mongoose
/models/


# IDE and editor-specific files 
# .vscode/


# Logs
# logs/
# *.log

Databases/mongoose_models_learning/dbConnection/index.js
